/* Add custom CSS styles below */ 
 
[dir=rtl] salla-slider.photos-slider .swiper {
    padding-right: 0rem !important;
}
/* mover banner///////////////// */ 
  [dir=rtl] .carousel-slider .swiper {
    padding-left: 0rem !important;
}
salla-slider.photos-slider .swiper-slide {
    position: relative;
   margin: 0px !important;
    padding: 0px;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 0rem;
}
.rounded-md {
    border-radius: 0rem !important;
}
.swiper.s-slider-container.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-rtl.swiper-backface-hidden {
    padding: 0px;
}
section:first-of-type.s-block.s-block--photos-slider {
    margin: 0px !important;
}

/* categoryyy//////////////// */ 

    .s-button-primary-outline {
    background: var(--color-primary);
    color: #ffffff;
}
.footer-is-light .store-footer .store-footer__inner{
     background: var(--color-primary);
}
.footer-is-light .store-footer .store-footer__inner:before {
    content: '';
    background: url(https://cdn.salla.sa/Kjywqw/KOh2sz7FxzrTRRmc18cC5fT6tGPO93S8FPqZb55u.png);
    background-size: contain;
    display: block;
    width: 111px;
    height: 108px;
    margin: auto;
     background-repeat: no-repeat;

}
